version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: pandeyaditi/mean-backend
    container_name: mean-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
    depends_on:
      - mongo

  frontend:
    image: pandeyaditi/mean-frontend
    container_name: mean-frontend
    restart: always
    ports:
      - "3000:80"   # Nginx serves Angular build on port 80 inside container
    depends_on:
      - backend

volumes:
  mongo_data:
